{% extends "base.html" %} 
{% load crispy_forms_tags %} 
{% block content %}
<section class="container py-3">
    <h2>Sell your car</h2>
    <p>Let&apos;s get started! Please fill out the following form to sell your vehicle.</p>

    {% if request.user.is_authenticated %}
        <div class="my-5 py-3 shadow-sm bg-white">
            <form method="POST" action="" class="mx-4">
            {% csrf_token %} {{seller_form|crispy}}
            <button class="btn btn-warning" type="submit">Send</button>
            </form>
        </div>
    {% endif %}
</section>

{% endblock content %}